.vscode/**
.vscode-test/**
.github/**
.husky/**
out/**
node_modules/**
src/**
scripts/**
.gitignore
.yarnrc
build.mjs
rolldown.config.ts
pnpm-lock.yaml
vsc-extension-quickstart.md
AGENTS.md
CLAUDE.md
**/tsconfig.json
**/biome.json
**/*.map
**/*.ts
**/.vscode-test.*
